<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.ssafy.repository.ReviewRepository">
 	<insert id="createReview">
    	insert into Review(user_id, Apart_id, content, rate) 
    	values (#{userId}, #{apartId}, #{content}, #{rate})
    </insert>
    <update id="updateReview">
    	update Review
    	SET content=#{content}, rate=#{rate}
    	where Apart_id=#{apartId} and User_id=#{userId}
    </update>
    <update id="increaseApart">
    	UPDATE Apart_summary
		SET
		  average_rating = round(((average_rating * review_count) + #{rate}) / (review_count + 1),1),
		  review_count = review_count + 1
		WHERE apart_id = #{apartId}
    </update>
    <update id="decreaseApart">
    	UPDATE Apart_summary
		SET
		  average_rating = round(((average_rating * review_count) - #{rate}) / (review_count - 1),1),
		  review_count = review_count - 1
		WHERE apart_id = #{apartId}
    </update>
    <delete id="deleteReview">
    	delete from Review
    	where User_id=#{userId} and Apart_id=#{apartId}
    </delete>
    <select id="detailReview" resultType="com.ssafy.dto.review.ReviewData">
        SELECT User_id userId, Apart_id apartId, content, rate, address, name apartName
        FROM Review r
        JOIN Apart a on (r.apart_id=a.id)
        WHERE Apart_id = #{apartId} and User_id = #{userId}
    </select>
    <select id="apartReviewList" resultType="com.ssafy.dto.review.ApartReview">
        SELECT id apartId, address, name, average_rating averageRating, review_count reviewCount
        FROM Apart JOIN Apart_Summary ON (Apart.id=Apart_Summary.apart_id)
        limit 10 OFFSET #{page}
    </select>
    <select id="popularApartReviewList" resultType="com.ssafy.dto.review.ApartReview">
        SELECT id apartId, address, name, average_rating averageRating, review_count reviewCount
        FROM Apart JOIN Apart_Summary ON (Apart.id=Apart_Summary.apart_id)
        ORDER BY review_count DESC
        limit 10 OFFSET #{page}
    </select>
    <select id="apartDetailReviewList" resultType="com.ssafy.dto.review.ReviewData">
        SELECT User_id userId, User.name userName, Review.Apart_id apartId, content, rate
        FROM Review
        JOIN User ON (Review.user_id=User.id)
        WHERE Apart_id = #{apartId}
    </select>
    <select id="apartDetailReview" resultType="com.ssafy.dto.review.ApartReview">
        SELECT id apartId, address, name, average_rating averageRating, review_count reviewCount
        FROM Apart JOIN Apart_Summary ON (Apart.id=Apart_Summary.apart_id)
        WHERE Apart_id = #{apartId}
    </select>
    <select id="myReviewList" resultType="com.ssafy.dto.review.ReviewData">
        SELECT User_id userId, Apart_id apartId, content, rate, address, name apartName
        FROM Review r
        JOIN Apart a on (r.apart_id=a.id)
        WHERE User_id = #{userId}
    </select>
</mapper>
